#article-body dl:before {
    content: "Symbols";
    font-weight: bold;
    font-variant: small-caps;
}

#article-body dl {
    border-radius: 1em;
    background-color: #eaeff2;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 2em;
    width: 30ch;
}

#article-body dl dt {
    font-weight: bold;
    color: #851414;
}

#article-body dl dd {
    margin-left: 1rem;
}

#article-body td span.jp:before {
    content: '（';
}

#article-body td span.jp:after {
    content: '）';
}

#article-body td span.jp {
    color: #666;
}


#article-body td span.wcr:after {
    content: ' [WP] ';
    font-variant: small-caps;
    color: #851414;
    font-size: 70%;
}

#article-body td span.jcr:after {
    content: ' [JP] ';
    font-variant: small-caps;
    color: #851414;
    font-size: 70%;
}

#article-body table {
    margin-bottom: 3rem;
    border-spacing: 1em;
    border-collapse: separate;
}

#article-body td:nth-child(1) {
    width: 30ch;
}

.toc li {
    font-size: 130%;
    margin-left: 1rem;
}

.toc > .toc-head {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
}
