p {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}

h2.subtitle {
    margin-top: 3rem;
}

h3.subtitle {
    margin-top: 2rem;
}

figure > img.photo {
    max-height: 50vh;
    object-position: left center;
}
