<section class="section photo-section">
    <h2 class="subtitle has-text-centered" style="font-weight: 600">$title$</h2>
    $if(credit)$<p lang="en" class="has-text-centered" style="margin-bottom: 1.5rem;" >Photo credit: $credit$</p>$endif$
    <ul class="container">
    $for(photos)$
    <li class="media">
        <div class="media-content">
            <div class="content">
                <figure class="image">
                    <img src="$photo-path$" class="photo" alt="Photo: $title$" />
                </figure>
            </div>
        </div>
    </li>
    $endfor$
    </ul>
</section>
