
<section class="section">
    <h1 class="title has-text-centered">Blog</h1>
    <ul class="container">
    $for(posts)$
    <li class="media">
        <div class="media-content">
            <div class="content">
                <p>
                <strong>$date$</strong> $if(author)$<span class="is-italic has-text-weight-light" style="margin-left: 1rem;">@$author$</span>$endif$
                <br>
                <a href="$url$" style="color: #333">$title$</a>
                </p>
                $if(preview)$
                <div class="preview" style="color: #555">
                    <p>
                        $preview$
                        <span class="preview-ellipsis">...</span>
                    </p>
                </div>
                $endif$
                <a href="$url$" aria-label="Read $title$">Read &raquo;</a>
            </div>
        </div>
    </li>
    $endfor$
    </ul>
</section>
$partial("templates/pagination.html")$
