<article class="article">
    <script type="application/ld+json">
        $article-meta$
    </script>
    <h1 class="title blog-title has-text-centered">$title$</h1>
    <section class="section article-info">
        <h2 class="is-sr-only">Article info</h2>
        <p>
            <span class="fas fa-calendar" aria-hidden="true"></span> <time datetime="$date$">$date$</time>
        </p>
        <p>
            <span itemscope itemtype="http://schema.org/Person">
                <span class="fas fa-user" aria-hidden="true"></span> <span itemprop="name">$author$</span>
            </span>
        </p>
    </section>
    <section class="section blog-paras"$if(lang)$ lang="$lang$"$endif$>
        $body$
    </section>
</article>
