<article class="article">
    <script type="application/ld+json">
        $article-meta$
    </script>
    <h1 class="title blog-title has-text-centered">$title$</h1>
    <section class="section article-info">
        <h2 class="is-sr-only">Article info</h2>
        <p>
        Posted on <time datetime="$date$">$date$</time>
        $if(author)$
            <span itemscope itemtype="http://schema.org/Person">
                by <span itemprop="name">$author$</span>
            </span>
        $endif$
        </p>
    </section>
    <section class="section blog-paras"$if(lang)$ lang="$lang$"$endif$>
        $body$
    </section>
</article>
